.audio-player {
    width: 100%;
    margin-top: 20px;
}

.highlight {
    background-color: #ffd700;
}

.no-highlight {
    background-color: transparent;
}

.word {
    padding: 2px 4px;
    margin: 2px;
    display: inline-block;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}